{%- assign title = page.title | default: site.title -%}
{%- assign description = page.description | default: site.description -%}
{%- assign thumbnail = page.thumbnail | default: site.thumbnail -%}

{%- assign bodyProps = page.bodyProps | default: layout.bodyProps -%}
{%- assign mainProps = page.mainProps | default: layout.mainProps -%}

{%- assign extra_js = layout.extra_js | concat: page.extra_js -%}
  
<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>
{% include Head.html
      description={{ description }}
      direction={{ direction }}
      layout={{ layout }}
      robots={{ robots }}
      thumbnail={{ thumbnail }}
      title={{ title }}
  %}
  </head>
  <body {{ bodyProps }}>
  {% include Header.html layout={{ layout }} title={{ title }} %}

      <main {{ mainProps }}>
  {{ content }}
      </main>

  {% include Footer.html %}

  {% include Scripts.html layout={{ layout }} %}

  {% for js in extra_js %}
    <script is:inline async="{{ js.async }}" src="{{ js.src }}" />
  {% endfor %}
 
  </body>
</html>
